.checkbox-select{
    padding: 3px;
    height: 190px;
    overflow-y: auto;
    overflow-x: hidden;
    /* max-width: 45px; */
}

input[type=checkbox]{
    width: 15px;
}

.event-input{
    width: 50%;
}

ul,.form-list{
    margin: 0;
    padding: 0;
}

.form-list{
    display:flex;
    justify-content: left;
    align-items: center;
    gap: 3px;
}

.list-item-container{
    height: 2rem;
}

.form-list:hover{
    background: yellow;
}
.selected-instructor{
    background: yellow;
}





