.box {
  border-radius: 5px;
  background: #343434;
  padding: 1.5rem;
}

.events-table {
  margin: 5px;
  border-collapse: collapse;
}

.events-table th,
.events-table td {
  padding: 4px;
}

th {
  text-align: left;
}

tr {
  height: 45px;
}

.events-table tr:nth-child(odd) {
  background: #1f1f1f;
}

.events-table tr:hover {
  background: #4e4e4e;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.material-symbols-outlined {
  color: #e6e6e6;
  cursor: pointer;
}
.material-symbols-outlined:hover {
  color: #1f1f1f;
}

.display-none {
  display: none;
}

.edit-icon {
  display: none;
}

tr:hover .edit-icon {
  display: block;
}

/* -------- column width----------- */
.event-name-column {
  min-width: 35px;
  width: 25%;
}

.event-startdate-column {
  min-width: 20px;
  width: 15%;
}

.event-lessons-column {
  min-width: 20px;
  width: 10%;
}

.event-lesson-length-column {
  min-width: 20px;
  width: 8%;
}

.event-price-column {
  min-width: 20px;
  width: 11%;
}

.event-instructors-column {
  min-width: 20px;
  width: 25%;
}

.action-column {
  min-width: 35px;
  width: 6%;
}
