.box {
    border-radius: 5px;
    background: #343434;
    padding: 1.5rem;
  }
  
  .events-table {
    margin: 5px;
    border-collapse: collapse;
  }
  
  .events-table th,
  .events-table td {
    padding: 4px;
  }
  
  th {
    text-align: left;
  }
  
  .events-table tr:nth-child(odd) {
    background: #1f1f1f;
  }
  
  .events-table tr:hover {
    background: #4e4e4e;
  }
  
  .flex-row-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.material-symbols-outlined{
  color: #E6E6E6;
  cursor: pointer;
}
.material-symbols-outlined:hover{
color:  #1f1f1f
}
