.helpbar-container-wrapper {
  height: 100vh;
  min-width: 400px;
}

.helpbar-container {
  height: 100%;
  padding: 10px 25px;
  background-color: #343434;
}

.closeBtn {
  background-color: #343434;
  color: white;
  border: none;
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 5px;
  cursor: pointer;
}
