.container{
    width: 300px;
    margin: 20px 0;
    /* width: 100%; */
}

.radioBtns{
    /* display: flex; */
    /* justify-content: space-between; */
}

label{
    color: white;
}

.invisble-text{
    color: black;
    text-align: center;
}