.checkbox-select{
 
    padding: 3px;
    height: 180px;
    overflow-y: auto;
    /* max-width: 45px; */
}

input[type=checkbox]{
    width: 15px;
}

ul,li{
    padding: 0;
}

li{
    display:flex;
    justify-content: left;
    align-items: center;
    gap: 3px;
}

.list-item-container{
    height: 2.5rem;
}

.selected-instructor{
    background: yellow;
}