*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #1F1F1F;
}

main{
  display: flex;
  width: 100%;
}

h1, h2, h3, p, a{
  color: #E6E6E6;
}


.flex-container-row{
  display: flex;
  justify-content: space-between;
  width: 100%;
}