ul {
  list-style-type: none;
}

.sidebar-container {
  background-color: #343434;
  height: 100vh;
  min-width: 400px;
  padding: 35px 25px 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo-list {
  margin-top: 20px;
}

li {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 28%;
}

.sidebar__bottom-nav {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
}


h2{
  font-weight: 400;
}

h3 {
  font-weight: 400;
  text-align: center;
}
